body{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color:white;
}

.container{
    text-align:center;
    padding:40px;
}

h1{
    margin-bottom:10px;
}

#infoText{
    font-size:18px;
    margin-bottom:30px;
}

.card{
    width:60%;
    margin:auto;
    background:rgba(255,255,255,0.1);
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
    transition:0.5s;
}

.card h2{
    margin-bottom:10px;
}

.buttons{
    margin-top:30px;
}

button{
    padding:12px 18px;
    margin:8px;
    border:none;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    background:#00c6ff;
    color:black;
    font-weight:bold;
    transition:0.3s;
}

button:hover{
    background:#00ffcc;
    transform:scale(1.05);
}